<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="autofxtest" connectionString="server=95.138.188.232;user id=autofx;password=autofxprofitsadministrator;persist security info=True;database=autofxtest" providerName="MySql.Data.MySqlClient"/>
    <add name="autofxproduction" connectionString="server=95.138.188.232;user id=autofx;password=autofxprofitsadministrator;persist security info=True;database=autofxproduction" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
